.custom_btn {
  cursor: pointer;
}

.Buy {
  color: rgb(27, 27, 27);
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  height: 6rem;
}

.Buy:hover {
  color: rgb(158, 151, 215);
  border-color: rgb(105, 97, 166);
  transition: all 0.2s ease-in-out;
}
.Buy:active {
  /* color: rgb(33, 255, 174);
  border-color:  rgb(33, 255, 174); */
  background-color: rgb(29, 23, 78);
  color: rgb(255, 255, 255);
  border-color: rgb(29, 23, 78);
}
